section {background-color: rgb(252, 240, 223);}
h1 {background-color: rgb(247, 197, 122);}
h2 {background-color: rgb(241, 149, 11); opacity: 0.5;}
ol {background-color: rgb(184, 113, 7); opacity: 0.3;}
p {background-color: rgb(175, 144, 98);}
